<a href="https://colab.research.google.com/github/rafopm/inmersion-datos/blob/main/Copia_de_Practica_Inmersi%C3%B3n_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [21]:
import pandas as pd
nivel_estudios = pd.read_csv('/content/drive/MyDrive/Cursos/inmersion-datos/Censo2017/distrito_nivel_estudios.csv',sep=',',encoding='latin-1')
nivel_estudios.columns

Index(['Unnamed: 0', 'Sin Nivel', 'Inicial', 'Primaria', 'Secundaria',
       'BÃ¡sica especia', 'Superior no universitaria incompleta',
       'Superior no universitaria completa',
       'Superior universitaria incompleta', 'Superior universitaria completa',
       'MaestrÃ­a / Doctorad'],
      dtype='object')

In [16]:
nivel_estudios.head()

0     Amazonas, Chachapoyas, distrito: Chachapoyas
1        Amazonas, Chachapoyas, distrito: AsunciÃ³
2          Amazonas, Chachapoyas, distrito: Balsas
3           Amazonas, Chachapoyas, distrito: Cheto
4       Amazonas, Chachapoyas, distrito: Chiliquin
Name: Ubicacion, dtype: object

In [26]:
columnas = {'Unnamed: 0':'Ubicacion',
            'Sin Nivel':'Sin estudios formales', 
            'BÃ¡sica especia': 'Basica Especial',
            'Superior no universitaria incompleta': 'No Universitaria Incompleta',
            'Superior no universitaria completa':'No Universitaria Completa',
            'Superior universitaria incompleta': 'Universitaria Incompleta',
            'Superior universitaria completa': 'Universitaria Completa',
            'MaestrÃ­a / Doctorad':'Maestría Doctorado'}
nivel_estudios = nivel_estudios.rename(columns=columnas)
nivel_estudios.head(10)

,Ubicacion,Sin estudios formales,Inicial,Primaria,Secundaria,Basica Especial,No Universitaria Incompleta,No Universitaria Completa,Universitaria Incompleta,Universitaria Completa,Maestría Doctorado,Departamento
0,"Amazonas, Chachapoyas, distrito: Chachapoyas",1 237,1 576,7 759,9 247,43,1 234,3 209,2 359,4 351,693,Amazonas
1,"Amazonas, Chachapoyas, distrito: AsunciÃ³",38,1,105,63,-,3,21,5,9,3,Amazonas
2,"Amazonas, Chachapoyas, distrito: Balsas",127,59,568,261,-,4,43,10,28,1,Amazonas
3,"Amazonas, Chachapoyas, distrito: Cheto",32,27,362,147,-,6,10,3,13,2,Amazonas
4,"Amazonas, Chachapoyas, distrito: Chiliquin",64,40,370,80,-,8,9,2,5,2,Amazonas
5,"Amazonas, Chachapoyas, distrito: Chuquibamba",204,46,829,488,-,16,68,8,32,-,Amazonas
6,"Amazonas, Chachapoyas, distrito: Granada",38,24,261,110,-,10,13,4,5,3,Amazonas
7,"Amazonas, Chachapoyas, distrito: Huancas",50,23,503,455,-,17,40,16,27,1,Amazonas
8,"Amazonas, Chachapoyas, distrito: La Jalca",353,265,1 965,1 006,-,35,103,18,49,5,Amazonas
9,"Amazonas, Chachapoyas, distrito: Leimebamba",396,188,1 456,888,1,92,194,27,107,16,Amazonas

In [24]:
valor = nivel_estudios.Ubicacion.str.split(', ',expand=True)
nivel_estudios['Departamento']=valor[0]
nivel_estudios.sample(10)

,Ubicacion,Sin estudios formales,Inicial,Primaria,Secundaria,Basica Especial,No Universitaria Incompleta,No Universitaria Completa,Universitaria Incompleta,Universitaria Completa,Maestría Doctorado,Departamento
0,"Amazonas, Chachapoyas, distrito: Chachapoyas",1 237,1 576,7 759,9 247,43,1 234,3 209,2 359,4 351,693,Amazonas
119,"Ãncash, AsunciÃ³n, distrito: Acocha",662,165,911,797,-,36,61,10,82,2,Ãncash
1548,"Lima, Huaura, distrito: Checras",74,25,433,341,-,11,8,4,24,1,Lima
534,"Ayacucho, La Mar, distrito: Chungui",478,273,1 840,1 327,3,22,58,17,56,7,Ayacucho
1710,"Pasco, Pasco, distrito: Ticlacayan",444,123,1 014,1 199,2,52,85,84,131,11,Pasco
1596,"Lima, Yauyos, distrito: ViÃ±a",177,71,623,623,-,20,54,8,35,1,Lima
1744,"Piura, Piura, distrito no especificado",9,19,105,187,1,33,38,29,49,11,Piura
1803,"Piura, Sechura, distrito: Cristo Nos Valga",292,268,1 763,1 232,1,119,175,70,64,6,Piura
2037,"Tacna, Candarave, distrito no especificado",-,-,-,1,-,-,-,-,-,-,Tacna
1668,"Madre de Dios, Manu, distrito: Fitzcarrald",248,99,505,293,-,22,36,8,30,3,Madre de Dios

In [31]:
nivel_estudios['Inicial'] = nivel_estudios['Inicial'].str.replace(' ', '').str.replace('-', '')
nivel_estudios['Inicial'] = pd.to_numeric(nivel_estudios['Inicial'], errors='coerce')
nivel_estudios = nivel_estudios.dropna(subset=['Inicial']).astype({'Inicial':int})
j = nivel_estudios.groupby('Departamento').agg({'Inicial': 'sum'})
j.iloc[0:20]

                                      Inicial
Departamento
 Amazonas                               21650
 ApurÃ­mac                              21468
 Arequipa                               65362
 Ayacucho                               31627
 Cajamarca                              74180
 Cusco                                  59578
 Huancavelica                           17787
 HuÃ¡nuco                               36001
 Ica                                    48430
 JunÃ­n                                 58152
 La Libertad                            91641
 Lambayeque                             62683
 Lima                                  431210
 Loreto                                 57953
 Madre de Dios                           8208
 Moquegua                                8250
 Pasco                                  13244
 Piura                                 106655
 Provincia Constitucional del Callao    50143
 Puno                                   51323